name: Test
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - run: npm install

    - run: npm run lint

    # CI would take too long if we did the download every time too. So, we cache it. This does mean we're vulnerable to
    # source changes exposing problems in our code, but those are pretty infrequent. If they occur, we need to bump the
    # cache key.
    - uses: actions/cache@v4
      with:
        key: worm-scraper-cache-2025-01-04
        path: ./cache

    - run: node ./lib/worm-scraper.js --book=worm

    - run: node ./lib/worm-scraper.js --book=glow-worm

    - run: node ./lib/worm-scraper.js --book=ward

    - uses: actions/setup-java@v4
      with:
        distribution: zulu
        java-version: 21
        java-package: jre

    - name: Get EPUBCheck
      run: |
        curl https://github.com/w3c/epubcheck/releases/download/v5.1.0/epubcheck-5.1.0.zip --location --output epubcheck.zip
        unzip epubcheck.zip

    - name: Check Worm.epub
      run: java -jar epubcheck-5.1.0/epubcheck.jar --failonwarnings Worm.epub

    - name: Check Glow-worm.epub
      run: java -jar epubcheck-5.1.0/epubcheck.jar --failonwarnings Glow-worm.epub

    - name: Check Ward.epub
      run: java -jar epubcheck-5.1.0/epubcheck.jar --failonwarnings Ward.epub
